<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.Innovar.transmetro"
	version 	= "1.0.0">

	<name>Transmetro</name>

	<description>
		App Tansmetro Barranquilla
	</description>

	<author href="https://www.facebook.com/josekrlos029"
		email="josekrlos029@hotmail.com">
		José Carlos Jimenez Montenegro 
	</author>

<preference name="phonegap-version" value="2.9.0" />
<preference name="orientation" value="portrait" />

<icon src="image/IconoApp.png" gap:platform="ios" width="57" height="57" />
        
        
        <!-- SPLASH -->
    <gap:splash src="image/SplashAndroid/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="image/SplashAndroid/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="image/SplashAndroid/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="image/SplashAndroid/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

    <gap:splash src="image/SplasiOS/Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="image/SplasiOS/Default_at_2x.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="image/SplasiOS/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="image/SplasiOS/Default-Landscape.png" gap:platform="ios" width="1024" height="748" />
    <gap:splash src="image/SplasiOS/Default-Portrait.png" gap:platform="ios" width="768" height="1004" />

    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <gap:splash src="image/SplasiOS/Default-Landscape_at_2x.png" gap:platform="ios" width="2048" height="1496" />
    <gap:splash src="image/SplasiOS/Default-Portrait_at_2x.png" gap:platform="ios" width="1536" height="2008" />
    
	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
                <gap:platform name="ios" />
	</gap:platforms>

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
        <feature name="http://api.phonegap.com/1.0/notification"/>

</widget>