/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/03/2014, 12:58:18 PM
    Author     : JoseCarlos
*/

body{
    margin: 0;
    height: 100%;
    width: 100%;
}

#footer{
   height: 150px;
   width: 100%;
   border: solid black 0.5px;
}

#header{
    height: 150px;
    width: 100%;
    border: solid black 0.5px;
}

#mapa{
    height: 300px;
    width: 200px;
}