/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/03/2014, 12:58:18 PM
    Author     : JoseCarlos
*/

body{
    margin: 0;
    height: 100%;
    width: 100%;
}

#footer{
   height: 60px;
   width: 100%;
   background-color: black;
   padding-top: 5px;
   border-top: 5px solid #DB001B
}

#header{
    height: 60px;
    width: 100%;
    border-bottom: solid #405da3 5px;
    background-color: #ebeaea;
    margin:0;
   padding: 0;
}

#mapa{
    height: 300px;
    width: 200px;
    margin:0;
   padding: 0;
}
#border-top{
   width: 100%;
   margin:0;
   padding: 0;
}

#input{
    background: black;
    border: none;
    height: 40px;
    width: 200px;    
    opacity:0.8;
    filter:alpha(opacity=80);
    font-family: Arial;
    border-radius: 10px;
    border: 1px solid #333;
    text-align: right;
    font-size: 15px;
    color:white;
    padding-right: 15px;
    
}

#submit{
    background: black;
    border: none;
    height: 40px;
    width: 220px;    
    opacity:0.8;
    filter:alpha(opacity=80);
    font-family: Arial;
    border-radius: 10px;
    border: 1px solid #333;
    text-align: right;
    font-size: 15px;
    color:white;
    padding-right: 15px;
    
}
